*{
    width: 100% !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

#navbar{
    background-color: #198754 !important;
}

a{
    color: white !important;
    font-weight: 600 !important;
}

.dropdown-menu a{
    color: rgb(255, 255, 255) !important;
    font-weight: 600 !important;
}

.dropdown-menu a:hover{
    color: rgb(255, 255, 255) !important;
    font-weight: 600 !important;
    background-color: rgb(0, 63, 39) !important;
}

.dropdown-menu {
    background: #198754c7 !important;
    width: 200px !important;
}

.container-fluid{
    width: 100% !important;
    padding: 0vw 5vw !important;
}

#navbarSupportedContent{
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: end !important;
    padding-left: 50% !important;
}

#hero img{
    height: 200px !important;
    width: 100% !important;
    object-fit: cover !important;
    
}

#destaquesDaSemana h1{
    text-align: center !important;
    padding: 2vw;
}

#cards{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100vw !important;
    gap: 20px !important;
}

.card{
    height: 70vh !important;
    width: 25vw !important;
    display: flex !important;
    align-items: center !important;
}

.card-img-top{
    height: 50vh !important;
    width: 20vw !important;
}
